/*
 * demo页面使用样式
*/

/* button */
.page-button-group, .page-button-group>* {
    margin-bottom: 30px;
}
.page-button {
    padding: 0 30px 30px;
}

/* toast */
.page-toast-wrapper button:not(:last-child) {
    margin-bottom: 40px;
}
.page-toast-wrapper {
    padding: 0 40px;
}

/* infinite scroll */
.page-infinite-listitem {
    height: 100px;
    line-height: 100px;
}
.page-infinite-loading {
    height: 100px;
    line-height: 100px;
}
.page-infinite-loading .mint-spinner-fading-circle {
    width: 56px !important;
    height: 56px !important;
    margin-right: 10px;
}

/* pull-up */
.page-loadmore-listitem {
    height: 100px;
    line-height: 100px;
}
.loading-background {
    height: 100px;
    line-height: 100px;
}
.page-loadmore-desc {
    padding-bottom: 10px;
}
.page-popup .mint-popup-1 {
    width: 400px;
    border-radius: 16px;
    padding: 20px;
    margin-top: -20px;
}
.page-popup .mint-popup-1 h1 {
    font-size: 40px;
}
.page-popup .mint-popup-1:before {
    border-width: 20px;
    top: -40px;
    right: 100px;
}
.page-popup .mint-popup-2 {
    height: 100px;
}
.page-popup .mint-popup-2 p {
    line-height: 100px;
}

/* swipe */
.page-swipe .mint-swipe {
    height: 400px;
}

/* swipe */